<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-esimtool" version="0.0.1">
    <name>eSimTool</name>

    <description>An Android Cordova plugin that allows users to check for eSim support.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/joaogdomingos12/esimtool.git</repo>
    <issue>https://github.com/joaogdomingos12/esimtool/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/eSimTool.js" name="eSimTool">
        <clobbers target="window.plugins.eSimTool" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="eSimTool">
                <param name="android-package" value="package com.joaodomingos.cordova.plugin.eSimTool"/>
            </feature>
        </config-file>

        <source-file src="src/android/eSimTool.java" target-dir="src/com/joaodomingos/cordova/plugin" />
    </platform>
</plugin>

